/* Show it is fixed to the top */
.form-group{
border-radius: 27px;
opacity: 0.8;}

.select_img{
    height: 90px !important;

}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(196 18 47);
}
.btn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:focus {
    outline: none;
    box-shadow: none;
}
select:focus{
    outline: none;
    box-shadow: none;
}

.pd{
    padding-top: 20px;
}


ul a:hover{
    color: #c4122f !important;
}
nav li{
    text-align: center;
}
li > a:after{
    content: '';
    display: block;
    height: 1.5px;
    background: #c4122f;
    transform: scaleX(0);
    transition: transform .3s;
}
li > a:hover:after{
    transform: scaleX(1);
    transition: transform .3s;
}
.active{
    color: #c4122f !important;
}


@media screen and (min-width: 1024px) {
    div#navbarTogglerDemo02 {
         padding: 18px 86px;
     }
}
.navbar-nav .nav-item .nav-link{
    padding: 1.1em 1em!important;
    font-size: 100%;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
    font-family: 'Gothic A1', sans-serif;
}

@media screen and (max-width: 600px) {
    .navbar-dark .navbar-toggler-icon {

        background: #c4122f !important;
    }

}

.navbar-dark .navbar-toggler {
    color: rgb(196 18 47);
    border-color: rgb(196 18 47);
}

/*.shadow{*/

    /*box-shadow: 1px 2px 5px 4px rgba(243,243,243,0.75);*/
    /*-webkit-box-shadow: 1px 2px 5px 4px rgba(243,243,243,0.75);*/
    /*-moz-box-shadow: 1px 2px 5px 4px rgba(243,243,243,0.75);*/

/*}*/
/*nav*/
body h2{

    color: #f5c684e0;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin-right: 158px;
    margin-bottom: 120px;

}
body h2:before {
    position: absolute;
    text-align: center;
    top: 1.4em;
    height: 1px;
    width: 80px;
    content: '';
    border-top: 2px solid #c4122f;
}

/* 
Page Sustom CSS

*/
.input_hidden {
    position: absolute;
    left: -9999px;
}
.option_name {
    position: relative;
    top: 20px;
    font-size: 22px;
}

.selected {
    background-color: #c42c2f;
    border-radius: 30px;
    padding: 1px 15px 1px 2px;
}

#emotion label {
    display: inline-block;
    cursor: pointer;
}

#emotion label img {
    padding: 3px;
}
label {
    color: white;
    font-size: 23px;
    font-weight: bold;
}
@media screen and (max-width: 600px) {
   #Service_feed_back_form .col-md-6 {
       position: relative;
       width: 43%;
       min-height: 1px;
       padding-right: 15px;
       padding-left: 15px;
       padding: 18px 19px 15px 30px;
       /*text-align: center;*/
   }

   #Service_feed_back_form label {
       color: white;
       font-size: 15px;
       /* font-weight: bold; */
   }
}








/* End Custom Css */
#service_page {
    background: url('../images/Image 31.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#Service_feed_back_form{
padding-top: 50px;
}
#Service_feed_back_form .pd_top{
padding-top: 40px;}

#Service_feed_back_form .btn_next{
margin-top: 29px;
 padding: 23px 180px 20px 180px;
border-radius: 17px;
background: #c4122f;
font-weight: 500;
    border: none;
}



#Service_feed_back_form  .reaction_hed
{
    margin-left: 57px;
    color: white;
    padding: 12px;
    font-size: 20px;
}
#food_quality {
    background: url('../images/pexels-yanuar-putut-widjanarko-2232433.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#Ambiance {
    background: url('../images/ambiance.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.option_name.select {
    color: #b78c50;
}


#add_your_details {
    background: url('../images/Image 35.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#thank_u {
    background: url('../images/Image 32.png') no-repeat center center fixed impo !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #1b1e21;
}
/*poor*/
#Service_feed_back_form .poor {
    width: 100%;
    height: auto;
    background: url("../images/Service/poor_in.png") no-repeat;
    display: inline-block;
}
#Service_feed_back_form .poor:hover {
    background: url("../images/Service/poor.png") no-repeat;
}
/*poor*/

/*Average*/
#Service_feed_back_form .Average {
    width: 100%;
    height: auto;
    background: url("../images/Service/average_in.png") no-repeat;
    display: inline-block;
}
#Service_feed_back_form .Average:hover {
    background: url("../images/Service/Average_inactive.png") no-repeat;
}
/*Average*/

/*good*/
#Service_feed_back_form .good {
    width: 100%;
    height: auto;
    background: url("../images/Service/good_in.png") no-repeat;
    display: inline-block;
}
#Service_feed_back_form .good:hover {
    background: url("../images/Service/good.png") no-repeat;
}
/*good*/

/*Excellent*/
#Service_feed_back_form .excelent {
    width: 100%;
    height: auto;
    background: url("../images/Service/excellent_in.png") no-repeat;
    display: inline-block;
}
#Service_feed_back_form .excelent:hover {
    background: url("../images/Service/excellent.png") no-repeat;
}
/*Excellent*/


#add_details{
    padding-top: 40px;
    padding-bottom: 20px;
}
#add_details .pad_top{
    padding-top: 20px;
}


#add_details .form-control {

    padding: 15px 20px 20px 15px;
    color: gray;
    background-color: #fff;
    border: 1px solid #ced4da;
     border-radius: 25px;
     opacity: 0.9;
}


#add_details ::placeholder {
    color: #cccbc9;
    opacity: 1; /* Firefox */
}
#add_details .btn_sub {
    padding: 15px 123px 15px 123px;
    border-radius: 14px;
    background: #c4122f;
    border: none;
    margin-top: 10px;
}

#thanks h3:before {
    position: absolute;
    /* left: 30px; */
    top: 82px;
    height: 0;
    width: 148px;
    content: '';
    border-top: 2px solid #c4122f;
}
#thanks h3 {
    color: white;
    font-size: 30px;
    font-weight: 600;

}

#thanks .below_img{
    padding-top: 104px;
    padding-bottom: 40px;
}
#thanks .go_btn{
color: white;
text-align: center;
font-size: 19px;
font-weight: 500;}

#thanks .go_btn:before{
    position: absolute;
    top: 96%;
    height: 0;
    width: 69px;
    content: '';
    border-top: 2px solid #c4122f;

}

#thanks a{
    text-decoration: none;
    color: white;
}

#thanks svg.svg-inline--fa.fa-chevron-left.fa-w-10{
    font-size: 15px;
}

#Login_page {
    background: url('../images/Image 29.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
#login_sce .hed {
    text-align: center;
    color: white;
}
#login_sce .form-control {

    padding: 15px 20px 20px 15px;
    color: #ffffff;
    background-color: #524343;
    border: 1px solid #ced4da;
    border-radius: 25px;
    opacity: 0.9;
}


#login_sce ::placeholder {
    color: #cccbc9;
    opacity: 1; /* Firefox */
}
#login_sce .btn_sub {
    padding: 15px 150px 15px 150px;
    border-radius: 14px;
    background: #c4122f;
    border: none;
    margin-top: 30px;
}

#login_sce .forget_txt{
    font-size: 12px;
    color: white;
    float: right;
    font-weight: 100;
}


#select_table_page {
    background: url('../images/Image 30.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}



#select_tbl_sce .hed {
    text-align: center;
    color: white;
}
#select_tbl_sce .selectin {
    padding: 10px 15px 21px 14px;
    color: #ffffff;
    background-color: #607d8b82;
    border: 1px solid #9f9f9f;
    border-radius: 25px;
    opacity: 0.9;
    width: 100%;
    font-size: 20px;
}


#select_tbl_sce ::placeholder {
    color: #cccbc9;
    opacity: 1; /* Firefox */
}
#select_tbl_sce .btn_sub {
    padding: 18px 157px 18px 157px;
    border-radius: 14px;
    background: #c4122f;
    border: none;
    margin-top: 30px;
}
button.navbar-toggler {
    display: none;
}
/*Media Query*/
@media (max-width: 800px) and (min-width: 250px) 
{
    .option_name{
        top: 0px;
        display: block;
        position: relative;
    }
    .col-md-2.col-sm-4.col-xs-6.mob{
        margin-bottom: 40px;

    }
    body h2{
        margin-right: 0px !important;
    }
}

@media (max-width: 600px) and (min-width: 250px) 
{
    body h2{
        font-size: 36px;
        margin-right: 0px !important; 
        margin-bottom: 0px !important;
    }
    button.btn.btn-secondary.btn_next{
        margin-top: 0px  !important;
        margin-right: 0px !important;
        padding: 0px;
    }
}

@media only screen and (max-width: 1024px) {
    body h2{
        margin-right: 0px;
    }

}

@media only screen and (max-width: 1024px) {
    .navbar-nav .nav-item .nav-link {
        font-size: 70%;
    }
    .navbar-brand img {
        width: 120px;
    }
}

/* @media only screen and (max-width: 1024px) {
    #Service_feed_back_form .btn_next{

        padding: 15px 120px 24px 120px;
        width: 100%;
        margin-left: 30px;
}
} */
@media only screen and (min-width: 600px) {
    #Service_feed_back_form .pd_top {
         padding-top: 0px;
    }
}
@media only screen and (max-width: 780px) {
    #login_sce .btn_sub {
        padding: 15px 145px 15px 145px;
    }
}
@media only screen and (max-width: 500px) {
    #Service_feed_back_form .btn_next{
        padding: 20px 100px 20px 100px !important;
        font-size: 20px !important;
        margin-left: 30px !important;

    }
}
@media only screen and (min-width: 1024px) {
    #login_sce .btn_sub {
        padding: 16px 155px 15px 155px;
    }
}

@media only screen and (max-width: 1024px) {
    #login_sce .form-control {
        padding: 15px 54px 20px 15px;
        width: 320px;
    }
}

@media only screen and (max-width: 1024px) {
    #select_tbl_sce .selectin {
        width: 310px;
    }

    #select_tbl_sce .btn_sub {
        width: 310px;
    }


}

@media only screen and (max-width: 600px) {
    #add_details .form-control {
        padding: 12px 20px 20px 12px;
        width: 266px;
        line-height: 1;
    }
}

#emotion label {
    display: inline-block;
    cursor: pointer;
}

#emotion label img {
    padding: 3px;
}
label {
    color: white;
    font-size: 23px;
    font-weight: bold;
}
@media screen and (max-width: 600px) {
    #Service_feed_back_form .col-md-6 {
        position: relative;
        width: 43%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        padding: 20px 24px 20px 25px;
        /*text-align: center;*/
    }

    #Service_feed_back_form label {
        color: white;
        font-size: 15px;
        /* font-weight: bold; */
    }
}


